<html>
<head>
	<meta charset="UTF-8">
	<title>Games</title>
	<link rel='stylesheet' type="text/css" href='reset.css'>
</head>

<body>
	<h1>Games</h1>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Result</th>
			<th>Options</th>
		</tr>

		<% @games.each do |game| %>
			<tr>
				<td><%= game.local_team.name %> vs <%= game.visitor_team.name %></td>
				<td><%= game.local_goals %> - <%= game.visitor_goals %></td>
				<td>
					<%= link_to('Edit', edit_game_path(game), method: :get, data: { confirm: 'Are you sure?' }) %>
					<%= link_to('Delete', game_path(game), method: :delete, data: { confirm: 'Are you sure?' }) %>	
				<td>
			</tr>

		<% end %>
	</table>

		<button>
			<%= link_to 'View table', assign_points_path, method: :get %>	
		</button>
	
</body>
</html>

