<h1>Game</h1>

LOCAL:
<%= @game.local_team.name %><br>
Goals: <%= @game.local_goals %><br>
Points: <%= @game.local_points %>

<br>
<br>

VISITOR:
<%= @game.visitor_team.name %><br>
Goals: <%= @game.visitor_goals %><br>
Points: <%= @game.visitor_points %>

<br>
<br>

Date and time: <%= @game.game_date_time %>
<br>
<button>
		<%= link_to 'Back', games_path, method: :get %>	
</button>