<p id="notice"><%= notice %></p>

<p>
  <strong>Local goals:</strong>
  <%= @game.local_goals %>
</p>

<p>
  <strong>Visitor goals:</strong>
  <%= @game.visitor_goals %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
